{% extends 'base.html.twig' %}
{# {% block title %} Bienvenue {% endblock %} #}

{% block body %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarText" style="background-color:skyblue;width:900px;height:80px">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{path('accueil')}}">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('addMoral')}}">Create Client moral</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('addPhysique')}}">Create Client physiques</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('addCompte')}}">Create Compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('ListMorals')}}">Liste Clients morals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('ListPhysiques')}}">Liste Clients physiques</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('listComptes')}}">Liste Comptes</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        {% block ajout %}{% endblock %}
{% endblock %}