<div class="form-group">
   {{ form_label(form.nomentreprise)}}
   {{ form_widget(form.nomentreprise)}}
</div>
<div class="form-group">
   {{ form_label(form.adresseentreprise)}}
   {{ form_widget(form.adresseentreprise)}}
</div>
<div class="form-group">
   {{ form_label(form.raisonsocial)}}
   {{ form_widget(form.raisonsocial)}}
</div>
<div class="form-group">
   {{ form_label(form.numident)}}
   {{ form_widget(form.numident)}}
</div>
